/* This stylesheet is used to style the public-facing components of the plugin. */

html,
body {
  height: auto !important;
  min-height: 100% !important;
}

.spu-box {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

.spu-bg {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background: #000000;
}

.spu-box {
  position: fixed;
  z-index: 999999;

  zoom: 1;

  max-width: 100%;
  margin: 10px;
  padding: 25px;

  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 0 10px 1px #666666;
     -moz-box-shadow: 0 0 10px 1px #666666;
          box-shadow: 0 0 10px 1px #666666;
  &:before {
    display: table;

    content: '';
  }
  &:after {
    display: table;
    clear: both;

    content: '';
  }
  &.spu-centered {
    margin: 0;
  }
  h1 {
    font-size: 1.4em;

    margin: 1.414285714rem 0;
  }
  h2 {
    font-size: 1.2em;

    margin: 1.414285714rem 0;
  }
  h3 {
    font-size: 1.0em;

    margin: 1.414285714rem 0;
  }
  p {
    margin: 0 0 1.414285714rem;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  &.spu-top-left {
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
  }
  &.spu-top-right {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
  }
  &.spu-bottom-left {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
  }
  &.spu-bottom-right {
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
  }
}

/* Triggers "haslayout" for IE6/7 */

/** Some basic css for box content**/

/** end basic style**/

.spu-content > * {
  &:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.spu-close {
  font-size: 30px;
  line-height: 1;

  position: absolute;
  top: 5px;
  right: 8px;

  padding: 0;

  cursor: pointer;

  opacity: .3;
  color: #000000;
  border: 0;
  background: transparent;
  text-shadow: 0 1px 0 #ffffff;

  -webkit-appearance: none;
  filter: alpha(opacity = 30);
}

p.spu-powered {
  position: absolute;
  bottom: -55px;
  left: 0;

  width: 100%;

  text-align: center;

  color: #ffffff;
  a {
    text-decoration: underline;

    color: #cccccc;
  }
}

.spu-close {
  &:hover,
  &:focus {
    cursor: pointer;
    text-decoration: none;

    opacity: .6;
    color: #000000;

    filter: alpha(opacity = 60);
  }
}

.spu-shortcode {
  line-height: normal !important;

  float: left;
}

.spu-facebook-page {
  display: block;

  text-align: center;
}

.spu-shortcode iframe {
  max-width: 1200px;
}

.spu_shortcodes {
  zoom: 1;
}

.spu-content .wysija-msg li {
  list-style: none;
}

.spu_shortcodes {
  &:before {
    display: table;

    content: '';
  }
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}

@font-face {
  font-family: 'spufont';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/spufont.eot?#iefixsze5my') format('embedded-opentype'), url('../fonts/spufont.woff?sze5my') format('woff'), url('../fonts/spufont.ttf?sze5my') format('truetype'), url('../fonts/spufont.svg?sze5my#spufont') format('svg');
  src: url('../fonts/spufont.eot?sze5my');
}


[class^='spu-icon-'],
[class*=' spu-icon-'] {
  font-family: 'spufont';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  text-transform: none;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

.spu-icon-envelope:before {
  content: '\f003';
}

.spu-icon-check:before {
  content: '\f00c';
}

.spu-icon-close:before {
  content: '\f00d';
}

.spu-icon-eye:before {
  content: '\f06e';
}

.spu-icon-gears:before {
  content: '\f085';
}

.spu-icon-angle-up:before {
  content: '\f106';
}

.spu-icon-angle-down:before {
  content: '\f107';
}

.spu-icon-spinner:before {
  content: '\f110';
}

.spu-spinner {
  display: none;

  margin: 5px;

  -webkit-animation: spu-rotate 1s infinite linear;
     -moz-animation: spu-rotate 1s infinite linear;
       -o-animation: spu-rotate 1s infinite linear;
}

@keyframes spu-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}


@-webkit-keyframes spu-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}


@-moz-keyframes spu-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}


@-o-keyframes spu-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 620px) {
  .spu-box {
    margin: 0;
    &.taller-than-viewport {
      position: absolute !important;
      top: 100px !important;
      left: 0 !important;
    }
  }
}
