/*Fonts*/
@font-face {
  font-family: 'RobotoCondensed-Regular';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/RobotoCondensed-Regular.eot');
  src: local('☺'), url('../fonts/RobotoCondensed-Regular.woff') format('woff'), url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'), url('../fonts/RobotoCondensed-Regular.svg') format('svg');
}


@font-face {
  font-family: 'RobotoCondensed-Bold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/RobotoCondensed-Bold.eot');
  src: local('☺'), url('../fonts/RobotoCondensed-Bold.woff') format('woff'), url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'), url('../fonts/RobotoCondensed-Bold.svg') format('svg');
}


@font-face {
  font-family: 'RobotoCondensed-Light';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/RobotoCondensed-Light.eot');
  src: local('☺'), url('../fonts/RobotoCondensed-Light.woff') format('woff'), url('../fonts/RobotoCondensed-Light.ttf') format('truetype'), url('../fonts/RobotoCondensed-Light.svg') format('svg');
}


@font-face {
  font-family: 'PTSerif_italic';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/PTSerif_italic.eot');
  src: local('☺'), url('../fonts/PTSerif_italic.woff') format('woff'), url('../fonts/PTSerif_italic.ttf') format('truetype'), url('../fonts/PTSerif_italic.svg') format('svg');
}


@font-face {
  font-family: 'segoeui';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/segoeui.eot');
  src: local('☺'), url('../fonts/segoeui.woff') format('woff'), url('../fonts/segoeui.ttf') format('truetype'), url('../fonts/segoeui.svg') format('svg');
}


@font-face {
  font-family: 'segoeui_bold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/segoeui_bold.eot');
  src: local('☺'), url('../fonts/segoeui_bold.woff') format('woff'), url('../fonts/segoeui_bold.ttf') format('truetype'), url('../fonts/segoeui_bold.svg') format('svg');
}


@font-face {
  font-family: 'Oswald-Medium';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Oswald-Medium.eot');
  src: local('☺'), url('../fonts/Oswald-Medium.woff') format('woff'), url('../fonts/Oswald-Medium.ttf') format('truetype'), url('../fonts/Oswald-Medium.svg') format('svg');
}


@font-face {
  font-family: 'opensans-bold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/opensans-bold.eot');
  src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype'), url('../fonts/opensans-regular.svg#opensans-bold') format('svg');
}

@font-face {
  font-family: 'spufont';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/spufont.eot?sze5my');
  src: url('../fonts/spufont.eot?#iefixsze5my') format('embedded-opentype'), url('../fonts/spufont.woff?sze5my') format('woff'), url('../fonts/spufont.ttf?sze5my') format('truetype'), url('../fonts/spufont.svg?sze5my#spufont') format('svg');
}
